<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Video Tutorials</h1>
    <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
  </div>
</div>

<div>
  <h1 class="text-center">404</h1>
  <h4 class="text-center">This is not the page you are looking for</h4>

</div>