<!-- ! TEMPLATE DRIVEN FORM -->
<!-- In order for the form to work the FormModule needs to be added to the imports array in the app.module.ts  -->
<form #loginForm="ngForm" (ngSubmit)="submitHandler()">
  <!-- depending on the way we get the form in the ts file we need or don't to pass the form to the submitHandler (ngSubmit)="submitHandler(loginForm)" -->

  <!-- EMAIL -->
  <div class="form-group">
    <label for="email">Email:</label>
    <!-- ngModel adds the values of the fields to the value property of the form in the ts file of the component -->
    <input
      type="text"
      id="email"
      name="email"
      ngModel
      (input)="logErrors()"
      required
      email
      #emailInputRef="ngModel"
      [appMaxCount]="4"
    />
    <!-- check if the email field has some characters in it -->
    <div *ngIf="emailInputRef.dirty">
      <div *ngIf="emailInputRef.errors?.['required']" class="err-msg">
        Email is required!
      </div>
      <div *ngIf="emailInputRef.errors?.['email']" class="err-msg">
        Email must be a valid email!
      </div>
    </div>
  </div>
  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      #passwordInput="ngModel"
      [appMaxCount]="4"
    />
    <div *ngIf="passwordInput.errors?.['appMaxCount']">
      invalid password {{passwordInput.errors?.['appMaxCount']}}
    </div>
  </div>
  <button>Login</button>
</form>
