@media (width > 600px) {
  .menu-icon {
    display: none;
  }

  header {
    width: 90%;
    align-self: center;
  }

  .heading-container {
    flex: 1 1 30%;
  }

  nav {
    flex: 1 1 70%;
  }

  nav a {
    color: black;
  }

  .need-a-website {
    max-width: 50em;
    margin: 0 auto;
  }

  .our-team ul li,
  .testimonials ul li {
    flex: 1 1 30%;
  }

  .heading-container {
    flex: 1 1 30%;
  }

  header nav {
    display: flex;
    flex: 1 1 50%;
  }

  header ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 1em;
  }

  .sign-up form {
    max-width: 35em;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    font-size: 10px;
  }

  footer h2 {
    padding: 0.5em 0;
  }

  .footer-container {
    align-self: center;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .first-col {
    flex: 0 1 20%;
  }
  .second-col {
    max-width: 30em;
    flex: 1 1 30%;
  }
  .third-col {
    flex: 0 1 20%;
  }
}
