<h1>Confirm deleting product</h1>
<h2>{{name}}</h2>
<p>List price: ${{price}}</p>
<form action="/delete/{{id}}" method="post">
  <input type="submit" value="Delete product (pemanent)" />
</form>
<a href="/catalog/{{id}}">Cancel</a>