<!--! REACTIVE FORM -->
<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
  <!-- EMAIL -->
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" formControlName="email" />
    <div *ngIf="registerForm.get('email')?.dirty">
      <div
        *ngIf="registerForm.get('email')?.errors?.['required']"
        class="err-msg"
      >
        Email is required!
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']" class="err-msg">
        Email must be a valid email!
      </div>
    </div>
  </div>
  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
    <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
      Password must be at least
      {{registerForm.get('password')?.errors?.['minlength'].requiredLength}}
      characters long.
    </div>
    <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">
      Password can not be longer than
      {{registerForm.get('password')?.errors?.['maxlength'].requiredLength}}
      characters
      <p>maxlength only for testing purposes</p>
    </div>
  </div>
  <button>Register</button>
</form>
