*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font: 16px/1.5 Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  margin: 4em auto;
}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}

h1,
h2,
h3,
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.page {
  display: flex;
  flex-wrap: wrap;
  max-width: 60em;
  margin: 4em auto;
  gap: 0 4em;
}

header {
  border-bottom: 2px solid black;
  flex: 1 1 100%;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

main {
  flex: 1 1 65%;
}

aside {
  flex: 1 1 25%;
  max-width: 100px;
}

article {
  display: flex;
  flex-direction: column;
}

li {
  line-height: 1.7;
  letter-spacing: 1px;
  list-style: none;
}

a {
  color: rgb(0, 153, 0);
  flex-wrap: wrap;
}

img {
  display: block;
  background-color: white;
  border: 5px solid black;
  padding: 0.5em;
  box-shadow: 2px 2px 20px 2px rgb(0, 0, 0, 0.4);
}

.align-left {
  display: block;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.align-right {
  display: block;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
