@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Great+Vibes&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway&family=Splash&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway&family=Splash&display=swap");
body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
section {
  margin: 100px 70px;
}
h2 {
  font-family: "Great vibes", sans-serif;
  line-height: 1.2;
  font-weight: bold;
}
