li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin: 0 0.3em;
  background-color: rgb(180, 180, 180);
  padding: 10px;
  border-radius: 50%;
}
li:nth-child(1) a:hover {
  color: #4267b2;
}
li:nth-child(2) a:hover {
  color: #1da1f2;
}
li:nth-child(3) a:hover {
  color: #db4437;
}
li:nth-child(4) a:hover {
  color: #0077b5;
}
li:nth-child(5) a:hover {
  color: #dc2743;
}
