<section id="register-section" class="narrow">

    <h1 class="item">Register</h1>

    <main class="item padded align-center">
        {{#if errors}}
        <div class="errors">
            {{#each errors}}

            <p>{{this.msg}}</p>

            {{/each}}
        </div>
        {{/if}}

        <form class="aligned" method="post" action="/register">

            <label><span>Email</span><input type="text" name="email" value="{{data.email}}"></label>
            <label><span>First name</span><input type="text" name="firstName" value="{{data.firstName}}"></label>
            <label><span>Last name</span><input type="text" name="lastName" value="{{data.lastName}}"></label>
            <label><span>Password</span><input type="password" name="password"></label>
            <label><span>Repeat Password</span><input type="password" name="repass"></label>

            <div class="align-center">
                <input class="action" type="submit" value="Create Account">
            </div>

        </form>

    </main>

</section>