* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e4e978;
}
main {
  padding: 15px;
}
article {
  border: 1px solid #b2ad7d;
  background-color: #f2f4c0;
  width: 60ch;
  padding: 15px;
  margin: 10px auto;
}
h1,
h2,
h3 {
  padding: 15px 5px;
}
p {
  padding: 10px 5px;
}

section article {
  color: #4c7658;
}
