* {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
}
body {
  padding: 1rem;
}

div {
  max-width: 65vw;
}

div,
section {
  display: flex;
  /* align-items: center; */
}
section {
  flex-wrap: wrap;
}

.notes {
  flex-direction: column;
}

span {
  border: 1px solid black;
  padding: 1em;
  text-align: center;
  flex-grow: 1;
}

.week span:nth-child(1),
.week span:nth-child(7) {
  flex-basis: 100%; /* Makes the element take the full width of the row */
}
